<% if model.errors.any? %>
  <div class="col-md-8 mx-auto error-field" id="error_explanation mt-3">
    <h2 class="mt-3 mb-3">
      <%= model.errors.count %>件のエラーが発生したため ご入力いただいた情報 は正しく保存されませんでした。
    </h2>
    <ul>
      <h6>—エラー内容—</h6>
      <% model.errors.full_messages.each do |message| %>
        <div class="form-error">
          <li class="mt-2 mb-2 font-weight-bold"><i class="fa fa-exclamation-circle text-danger"></i><%= message %></li>
        </div>
	    <% end %>
    </ul>
  </div>
<% end %>